*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F9F5ED;
    padding: 0px 8rem;
    font-family:Arial, Helvetica, sans-serif;
}
nav ul{
    margin-top: 15px;
    align-items: center;
    display: flex;
    gap: 60px;
    font-weight: 500;
}
li{
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 30px;
}
.Heading{
    font-size: 3.2rem;
    padding-right: 30px;
}
button{
    background-color: #3B855B;
    border: none;
    padding: 10px 10px;
    color: #F9F5ED;
    width: 120px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.right{
    width: 50%;
}
